.nav_list{
    display: flex;
    border: 1px solid #000;
     width: 1200px;
     height: 50px;
     justify-content: space-around;
     list-style: none;
     align-items: center;
     margin: auto;
      background-color: #d0c8c8;

}
.nav_link{
    text-decoration: none;
    color: #000;
}
.nav_btn{
    text-decoration: none;
    color:#000;
}
.nav_link_btn{
    width: 70px;
    border:none;
    height: 25px;
    border-radius: 8px;
}
.nav_link_btn:hover{
    background-color: 	#FFA500;
    color:#fff;
    transition: 0.6s;
}
.login_box{
    width: 400px;
    background-color:rgb(245, 245, 245);
    text-align: center;
    margin: auto;
    margin-top: 120px;
    border-radius:8px;
}
.login_type{
    width: 220px;
    height: 20px;
    margin-top: 20px;
    border:none;
    border:1px solid #f7f7f7;
    border-radius:6px;
}
.login_btn{
    width: 80px;
    height: 25px;
    border:none;
    border-radius:8px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.login_btn:hover{
     background-color: 	#FFA500;
    color:#fff;
    transition: 0.6s;
}
.product_btn{
    width: 60px;
    margin-left: 10px;
    border:none;
    height: 25px;
    border-radius:8px;
    margin-bottom: 20px;
}
.product_btn:hover{
    background-color:	#FF7F50;
    color:#fff;
    transition: 0.7s;
}

.cards_item_box{
    background-color: #d0c8c8;
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 120px;
    border-radius:8px;
}
.cards_name{
  padding-top: 20px;
}
.add_box{
    width: 400px;
    text-align: center;
    background-color:rgb(231, 223, 213);
    border-radius:8px;
    margin: auto;
    margin-top: 120px;
    height: 230px;
   align-items:center;
}
.add_name{
    width: 200px;
    height: 23px;
    margin-top: 20px;
}
.add_name1{
     width: 200px;
    height: 23px;
    margin-top: 50px;
}
.add_btn{
    width: 100px;
    border:none;
     border-radius:8px;
     height: 25px;
     margin-top: 20px;
}
.add_btn:hover{
    background-color:	#FF8C00;
    transition: 0.6s;
    color:#fff;
}
.service_box{
    width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
.service_btn{
    width: 50px;
    border:none;
    border-radius:7px;
    cursor: pointer;
}
.crads_btn{
    width: 130px;
    margin: auto;
    margin-left: 570px;
    margin-top: 30px;
    border:none;
    border-radius:8px;
    background-color:#228B22;
    height: 25px;
    color:#fff;
    cursor: pointer;
}